@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700|Source+Sans+Pro:400,700');

:root {
    --ghost-white: #FBFBFC;
    --bay-of-many: #363B5B;
    --zircon: #E0E2E2;
    --chetwode-blue: #606CC0;
    --ship-cove: #76799E;
    --link-water: #D5D6D7;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background: var(--bay-of-many);
    padding: 0;
}

h1 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background: var(--ship-cove);
}

input[type="text"] {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--chetwode-blue);
    vertical-align: middle;
    font-size: inherit;
    font-family: inherit;
}

input[type="button"],
button {
    border: 0;
    padding: 10px;
    font-size: inherit;
    font-family: inherit;
    background: var(--chetwode-blue);
    color: white;
    border-radius: 5px;
    margin: 5px;
    vertical-align: middle;
}

input[type="button"]:hover {
    background: var(--bay-of-many);
}

.Question {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 25px 5%;
}

tbody tr:nth-child(odd) {
    background: var(--zircon);
}

th {
    font-weight: bold;
}

th span {
    white-space: nowrap;
}

td, th {
    padding: 15px;
}

.Home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: var(--bay-of-many);
    padding-bottom: 300px;
}

.answer-list {
    display: flex;
    justify-content: stretch;
}

.answer {
    position: relative;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
}

.answer span{
    width: 100%;
    text-align:  center;
    padding: 10px;
    display: inline-block;
    border: 1px solid var(--bay-of-many);
}

.answer input {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
}

.answer input:checked + span {
    background: var(--bay-of-many);
    color: var(--ghost-white);
}

.answer:not(:last-child) span {
    border-right: 0;
}

.answer:first-child span {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.answer:last-child span {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.banner {
    min-height: 150px;
    padding: 20px;
    background: var(--bay-of-many);
    color: var(--ghost-white);
    display: flex;
    justify-content: space-between;
}

.content {
    max-width: 800px;
    margin: 0px auto;
    background: var(--ghost-white);
    padding: 40px;
    border-radius: 5px;
    position: relative;
    top: -50px;
    width: 95%;
}

.centered {
    text-align: center;
    
}

@media (max-width: 468px) {
    .desktop {
        display: none;
    }
}